[submodule "ff/hello-world"]
	path = ff/hello-world
	url = git@github.com:tepunyha/hello-world.git
[submodule "ff/OmniEyesAssets"]
	path = ff/OmniEyesAssets
	url = git@github.com:omnieyes/OmniEyesAssets.git
